In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/02_Datasets_pre_cleaning/OKVET Exámenes de laboratorio.xlsx"

In [3]:
df = pd.read_excel(url)

In [4]:
df.shape

(378, 19)

In [5]:
df.head() # ACCIONES: Eliminar columnas
# Convertir a datetime: "Fecha", "Fecha nacimiento", "Fecha registro", "Fecha edición"
# Cambiar nombre de columnas Nombre --> Paciente; Nombre 1 --> Cliente

,Fecha,Pruebas de laboratorio,Diagnóstico presuntivo,Nombre,Especie,Otra especie,Raza,Otra Raza,Género,E.Reproductivo,Fecha nacimiento,Edad,Nombre.1,Identificación,Teléfono,Dirección,Autor,Fecha registro,Fecha edición
0,2021-02-21,Profesional: Paula Andrea Bernal YepesPrueba/...,parasitosis,Flora,Canino,NaN,Otra,Criollo,Hembra,Esterilizado,2010-03-06,"14 años, 4 meses y 27 días",Astrid Osorio,42898757,3113094080,Calle 7 Sur N 44-117,Paula Andrea Bernal Yepes,2024-01-03 11:28:12,2024-01-03 11:28:12
1,2022-03-11,Profesional: Paula Andrea Bernal YepesPrueba/...,anemia leve,MerlÍn ferrero,Canino,NaN,Mestizo,NaN,Macho,Esterilizado,2021-12-25,"2 años, 7 meses y 8 días",José Lasso,1113643632,NaN,Calle 11A sur #53CC-16 segundo piso la colinit...,Paula Andrea Bernal Yepes,2024-04-06 20:25:07,2024-04-06 20:25:07
2,2022-03-17,Profesional: Paula Andrea Bernal YepesPrueba/...,"cistitis bacteriana, diabetes",Flora,Canino,NaN,Otra,Criollo,Hembra,Esterilizado,2010-03-06,"14 años, 4 meses y 27 días",Astrid Osorio,42898757,3113094080,Calle 7 Sur N 44-117,Paula Andrea Bernal Yepes,2024-01-03 11:24:06,2024-01-03 11:24:06
3,2022-03-17,Profesional: Paula Andrea Bernal YepesPrueba/...,negativo,Flora,Canino,NaN,Otra,Criollo,Hembra,Esterilizado,2010-03-06,"14 años, 4 meses y 27 días",Astrid Osorio,42898757,3113094080,Calle 7 Sur N 44-117,Paula Andrea Bernal Yepes,2024-01-03 11:25:31,2024-01-03 11:25:31
4,2022-05-10,Profesional: EN CASA SERVICIOS PARA MASCOTASPr...,Programación desparasitacion,LOLA,Felino,NaN,Criollo(a),NaN,Hembra,Esterilizado,2008-09-15,"15 años, 10 meses y 18 días",MARCELA UPEGUI,32143408,3043352114,calle 10 #30-210 apto 501,Carolina Velasquez,2024-07-08 13:11:05,2024-07-08 13:14:28

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   378 non-null    object
 1   Pruebas de laboratorio  378 non-null    object
 2   Diagnóstico presuntivo  378 non-null    object
 3   Nombre                  378 non-null    object
 4   Especie                 378 non-null    object
 5   Otra especie            5 non-null      object
 6   Raza                    378 non-null    object
 7   Otra Raza               37 non-null     object
 8   Género                  378 non-null    object
 9   E.Reproductivo          378 non-null    object
 10  Fecha nacimiento        378 non-null    object
 11  Edad                    378 non-null    object
 12  Nombre.1                378 non-null    object
 13  Identificación          378 non-null    object
 14  Teléfono                290 non-null    object
 15  Dirección               377 non-null    object
 16  Autor                   378 non-null    object
 17  Fecha registro          378 non-null    object
 18  Fecha edición           378 non-null    object
dtypes: object(19)
memory usage: 56.2+ KB

In [7]:
df.isna().sum()

Fecha                       0
Pruebas de laboratorio      0
Diagnóstico presuntivo      0
Nombre                      0
Especie                     0
Otra especie              373
Raza                        0
Otra Raza                 341
Género                      0
E.Reproductivo              0
Fecha nacimiento            0
Edad                        0
Nombre.1                    0
Identificación              0
Teléfono                   88
Dirección                   1
Autor                       0
Fecha registro              0
Fecha edición               0
dtype: int64

In [8]:
df.nunique()

Fecha                     207
Pruebas de laboratorio    378
Diagnóstico presuntivo    256
Nombre                    196
Especie                     3
Otra especie                3
Raza                       52
Otra Raza                  10
Género                      2
E.Reproductivo              3
Fecha nacimiento          194
Edad                      194
Nombre.1                  148
Identificación            149
Teléfono                  110
Dirección                 146
Autor                       9
Fecha registro            378
Fecha edición             378
dtype: int64

In [9]:
df.duplicated().sum()

0

In [13]:
df["E.Reproductivo"].value_counts()

E.Reproductivo
Esterilizado       281
No esterilizado     91
Desconocido          6
Name: count, dtype: int64

In [11]:
df.Especie.value_counts()

Especie
Canino    237
Felino    137
Equino      4
Name: count, dtype: int64

In [12]:
df.Autor.value_counts()

Autor
EN CASA SERVICIOS PARA MASCOTAS    127
Paula  Andrea Bernal Yepes         105
Carolina Velasquez                  51
Natalia Ortiz Ríos                  40
Eliana Andrea  Varela Rodríguez     25
valentina Velasquez Beltran         15
MA. CAMILA MEJIA (TP 26023)          7
Mariana Serna Pinilla                5
Daniela Bedoya Cardona               3
Name: count, dtype: int64

In [24]:
df.drop(columns = ["Otra especie", "Otra Raza", "Teléfono" , "Dirección"]  , inplace = True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   378 non-null    object
 1   Pruebas de laboratorio  378 non-null    object
 2   Diagnóstico presuntivo  378 non-null    object
 3   Paciente                378 non-null    object
 4   Especie                 378 non-null    object
 5   Raza                    378 non-null    object
 6   Género                  378 non-null    object
 7   E.Reproductivo          378 non-null    object
 8   Fecha nacimiento        378 non-null    datetime64[ns]
 9   Edad                    378 non-null    object
 10  Cliente                 378 non-null    object
 11  Identificación          378 non-null    object
 12  Autor                   378 non-null    object
 13  Fecha registro          378 non-null    datetime64[ns]
 14  Fecha edición           378 non-null    datetime64[ns]
dtypes: datetime64[ns](3), object(12)
memory usage: 44.4+ KB

In [14]:
df.rename(columns = {"Nombre": "Paciente"} , inplace = True)

In [15]:
df.rename(columns = {"Nombre.1": "Cliente"} , inplace = True)

In [26]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [27]:
df["Fecha nacimiento"] = pd.to_datetime(df["Fecha nacimiento"])

In [28]:
df["Fecha registro"] = pd.to_datetime(df["Fecha registro"])

In [29]:
df["Fecha edición"] = pd.to_datetime(df["Fecha edición"])

In [30]:
df.dtypes

Fecha                     datetime64[ns]
Pruebas de laboratorio            object
Diagnóstico presuntivo            object
Paciente                          object
Especie                           object
Raza                              object
Género                            object
E.Reproductivo                    object
Fecha nacimiento          datetime64[ns]
Edad                              object
Cliente                           object
Identificación                    object
Autor                             object
Fecha registro            datetime64[ns]
Fecha edición             datetime64[ns]
dtype: object

In [32]:
# df["Identificación"] = df["Identificación"].astype(int); 
# ValueError: invalid literal for int() with base 10: '****8620'

In [34]:
# df.to_excel("/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/04_Datasets_final/df_OKVET_Exámenes de laboratorio.xlsx", index = False)