In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/02_Datasets_pre_cleaning/OKVET Desparasitaciones.xlsx"

In [3]:
df = pd.read_excel(url)

In [4]:
df.shape

(39, 23)

In [5]:
df.head() # ACCIONES: Eliminar columnas
# Convertir a datetime: "Fecha", "Fecha nacimiento", "Fecha registro", "Fecha edición"
# Cambiar nombre de columnas Nombre --> Paciente; Nombre 1 --> Cliente

,Fecha desparasitación,Producto,Dosis,Última desparasitación,Próximo control,Adjunto,Observaciones,Nombre,Especie,Otra especie,...,E.Reproductivo,Fecha nacimiento,Edad,Nombre.1,Identificación,Teléfono,Dirección,Autor,Fecha registro,Fecha edición
0,2023-06-05,Levocan,2ml,NaN,NaN,-,NaN,Andy,Canino,NaN,...,No esterilizado,2022-08-02,"2 años, 0 meses y 0 días",Vanessa Uran,1036670750,3218768118,Cra50a#46-25,Carolina Velasquez,2024-06-05 10:56:07,2024-06-05 10:56:07
1,2023-06-15,Bravecto,30 kg,NaN,NaN,-,NaN,Delta,Canino,NaN,...,Esterilizado,2021-03-07,"3 años, 4 meses y 26 días",Valentina carretero,1152455509,573023736769,calle 32AA#69-88 piso 1,valentina Velasquez Beltran,2023-09-15 12:41:43,2023-09-15 12:42:08
2,2023-08-24,Panacur,50 mg/kg,NaN,2023-11-01,-,NaN,Olivia,Canino,NaN,...,No esterilizado,2021-01-01,"3 años, 7 meses y 1 días",Natalia Santos,****9196,****1574,****llin,valentina Velasquez Beltran,2023-08-30 04:37:09,2023-08-30 04:37:09
3,2023-08-30,Panacur,50 mg/kg por 5 días 3 ciclos,2023-06-05,NaN,C788146E-0E4A-452E-ADB3-79169E534D09.jpeg,Giardia,Lourdes,Canino,NaN,...,No esterilizado,2021-01-01,"3 años, 7 meses y 1 días",Natalia Santos,****9196,****1574,****llin,valentina Velasquez Beltran,2023-08-30 04:30:56,2023-08-30 04:30:56
4,2023-09-04,Total f lc,1 ml /kg,2023-08-19,NaN,IMG_1070.jpeg,Desparasitacion cada 15 días hasta 3 meses \n ...,Nutellla,Canino,NaN,...,No esterilizado,2023-05-30,"1 años, 2 meses y 3 días",Sara Cardona gonzales,1055836105,3007988986,Calle 60 sur 39 - 55,valentina Velasquez Beltran,2023-09-04 15:35:14,2023-09-04 15:35:14

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha desparasitación   39 non-null     object
 1   Producto                39 non-null     object
 2   Dosis                   39 non-null     object
 3   Última desparasitación  12 non-null     object
 4   Próximo control         21 non-null     object
 5   Adjunto                 39 non-null     object
 6   Observaciones           11 non-null     object
 7   Nombre                  39 non-null     object
 8   Especie                 39 non-null     object
 9   Otra especie            0 non-null      float64
 10  Raza                    39 non-null     object
 11  Otra Raza               4 non-null      object
 12  Género                  39 non-null     object
 13  E.Reproductivo          39 non-null     object
 14  Fecha nacimiento        39 non-null     object
 15  Edad                    39 non-null     object
 16  Nombre.1                39 non-null     object
 17  Identificación          39 non-null     object
 18  Teléfono                33 non-null     object
 19  Dirección               39 non-null     object
 20  Autor                   39 non-null     object
 21  Fecha registro          39 non-null     object
 22  Fecha edición           39 non-null     object
dtypes: float64(1), object(22)
memory usage: 7.1+ KB

In [7]:
df.isna().sum()

Fecha desparasitación      0
Producto                   0
Dosis                      0
Última desparasitación    27
Próximo control           18
Adjunto                    0
Observaciones             28
Nombre                     0
Especie                    0
Otra especie              39
Raza                       0
Otra Raza                 35
Género                     0
E.Reproductivo             0
Fecha nacimiento           0
Edad                       0
Nombre.1                   0
Identificación             0
Teléfono                   6
Dirección                  0
Autor                      0
Fecha registro             0
Fecha edición              0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.nunique()

Fecha desparasitación     27
Producto                  26
Dosis                     35
Última desparasitación    11
Próximo control           16
Adjunto                    3
Observaciones             11
Nombre                    30
Especie                    2
Otra especie               0
Raza                      17
Otra Raza                  3
Género                     2
E.Reproductivo             2
Fecha nacimiento          28
Edad                      28
Nombre.1                  24
Identificación            24
Teléfono                  21
Dirección                 23
Autor                      7
Fecha registro            39
Fecha edición             39
dtype: int64

In [11]:
df.Especie.value_counts()

Especie
Canino    30
Felino     9
Name: count, dtype: int64

In [12]:
df.Autor.value_counts()

Autor
valentina Velasquez Beltran        19
Mariana Serna Pinilla               6
Paula  Andrea Bernal Yepes          4
Carolina Velasquez                  3
EN CASA SERVICIOS PARA MASCOTAS     3
Natalia Ortiz Ríos                  3
Daniela Bedoya Cardona              1
Name: count, dtype: int64

In [14]:
df.drop(columns = ["Última desparasitación", "Próximo control", "Adjunto" , "Observaciones", "Otra especie", "Otra Raza", "Teléfono", "Dirección"]  , inplace = True)

In [15]:
df.rename(columns = {"Nombre": "Paciente"} , inplace = True)

In [16]:
df.rename(columns = {"Nombre.1": "Cliente"} , inplace = True)

In [17]:
df["Fecha desparasitación"] = pd.to_datetime(df["Fecha desparasitación"])

In [18]:
df["Fecha nacimiento"] = pd.to_datetime(df["Fecha nacimiento"])

In [19]:
df["Fecha registro"] = pd.to_datetime(df["Fecha registro"])

In [20]:
df["Fecha edición"] = pd.to_datetime(df["Fecha edición"])

In [21]:
df.dtypes

Fecha desparasitación    datetime64[ns]
Producto                         object
Dosis                            object
Paciente                         object
Especie                          object
Raza                             object
Género                           object
E.Reproductivo                   object
Fecha nacimiento         datetime64[ns]
Edad                             object
Cliente                          object
Identificación                   object
Autor                            object
Fecha registro           datetime64[ns]
Fecha edición            datetime64[ns]
dtype: object

In [ ]:
# df["Identificación"] = df["Identificación"].astype(int); 
# ValueError: invalid literal for int() with base 10: '****8620'