In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/02_Datasets_pre_cleaning/OKVET Citas.xlsx"

In [3]:
df = pd.read_excel(url)

In [4]:
df.shape

(113, 22)

In [5]:
df.head() # ACCIONES: Columnas a eliminar: alrededor de 50 columnas!
# Convertir a datetime: "Fecha", "Fecha nacimiento", "Fecha registro", "Fecha edición"
# Cambiar nombre de columnas Nombre --> Paciente; Nombre 1 --> Cliente

,Encargado,Fecha y hora,Tipo,Estado y asistencia,Comentarios,Cancelado,Nombre,Especie,Otra especie,Raza,...,E.Reproductivo,Fecha nacimiento,Edad,Nombre.1,Identificación,Teléfono,Dirección,Autor,Fecha registro,Fecha edición
0,NaN,2023-08-14 00:00:00,Consulta general,Pre-registro,NaN,NaN,Estrella Rivas,Canino,NaN,American Bully,...,Esterilizado,2021-04-21,"3 años, 3 meses y 12 días",karen rivas,1.077429e+09,NaN,calle 55# 32 29 barrio boston piso 2,valentina Velasquez Beltran,2023-08-09 12:34:34,2023-08-09 12:34:34
1,NaN,2023-08-12 00:00:00,Consulta general,Pre-registro,NaN,NaN,RUNA,Canino,NaN,Pomerania,...,Esterilizado,2019-02-21,"5 años, 5 meses y 12 días",Monica Sanchez,1.040735e+09,3168304040,"Calle 7 Sur N 37A-25 Apto 14-04, Poblado, Mede...",valentina Velasquez Beltran,2023-08-10 12:40:29,2023-08-10 12:40:29
2,NaN,2024-08-22 00:00:00,Vacunación,Pre-registro,NaN,NaN,Morita Sanchez,Felino,NaN,Mestizo,...,Esterilizado,2021-07-15,"3 años, 0 meses y 18 días",Laura Sanchez Lombana,1.152201e+09,318 3887403,calle 33 aa carrera 93 c 47,MA. CAMILA MEJIA (TP 26023),2023-08-22 12:50:34,2023-08-22 12:50:34
3,NaN,2024-08-24 00:00:00,Vacunación,Pre-registro,NaN,NaN,Marrakesh,Canino,Canine,Otra,...,Esterilizado,2020-07-24,"4 años, 0 meses y 9 días",alejandra garces,4.375803e+07,3152674689,edificio tramonte 201,MA. CAMILA MEJIA (TP 26023),2023-08-24 08:24:23,2023-08-24 08:24:23
4,NaN,2023-09-08 00:00:00,Vacunación,Pre-registro,NaN,NaN,Marrón veleo,Felino,NaN,Criollo(a),...,No esterilizado,2023-05-16,"1 años, 2 meses y 17 días",Veronica Vélez,1.128408e+09,NaN,Calle 71 #58-112,MA. CAMILA MEJIA (TP 26023),2023-08-24 12:20:12,2023-08-24 12:20:12

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Encargado            3 non-null      object
 1   Fecha y hora         113 non-null    object
 2   Tipo                 113 non-null    object
 3   Estado y asistencia  113 non-null    object
 4   Comentarios          0 non-null      float64
 5   Cancelado            0 non-null      float64
 6   Nombre               112 non-null    object
 7   Especie              112 non-null    object
 8   Otra especie         2 non-null      object
 9   Raza                 112 non-null    object
 10  Otra Raza            12 non-null     object
 11  Género               112 non-null    object
 12  E.Reproductivo       112 non-null    object
 13  Fecha nacimiento     112 non-null    object
 14  Edad                 112 non-null    object
 15  Nombre.1             112 non-null    object
 16  Identificación       112 non-null    float64
 17  Teléfono             79 non-null     object
 18  Dirección            112 non-null    object
 19  Autor                113 non-null    object
 20  Fecha registro       113 non-null    object
 21  Fecha edición        113 non-null    object
dtypes: float64(3), object(19)
memory usage: 19.6+ KB

In [7]:
df.isna().sum()

Encargado              110
Fecha y hora             0
Tipo                     0
Estado y asistencia      0
Comentarios            113
Cancelado              113
Nombre                   1
Especie                  1
Otra especie           111
Raza                     1
Otra Raza              101
Género                   1
E.Reproductivo           1
Fecha nacimiento         1
Edad                     1
Nombre.1                 1
Identificación           1
Teléfono                34
Dirección                1
Autor                    0
Fecha registro           0
Fecha edición            0
dtype: int64

In [8]:
df.nunique()

Encargado                1
Fecha y hora            82
Tipo                     5
Estado y asistencia      2
Comentarios              0
Cancelado                0
Nombre                  83
Especie                  2
Otra especie             2
Raza                    29
Otra Raza                7
Género                   2
E.Reproductivo           2
Fecha nacimiento        78
Edad                    78
Nombre.1                66
Identificación          66
Teléfono                48
Dirección               66
Autor                    8
Fecha registro         113
Fecha edición          113
dtype: int64

In [9]:
df.duplicated().sum()

0

In [13]:
df.Tipo.value_counts()

Tipo
Vacunación                65
Consulta general          27
Desparasitación           17
Examen de laboratorio      3
Consulta especializada     1
Name: count, dtype: int64

In [14]:
df.Especie.value_counts()

Especie
Canino    75
Felino    37
Name: count, dtype: int64

In [15]:
df.Autor.value_counts()

Autor
Paula  Andrea Bernal Yepes         44
valentina Velasquez Beltran        27
EN CASA SERVICIOS PARA MASCOTAS    15
Carolina Velasquez                 11
Mariana Serna Pinilla              10
MA. CAMILA MEJIA (TP 26023)         3
Eliana Andrea  Varela Rodríguez     2
Daniela Bedoya Cardona              1
Name: count, dtype: int64

In [18]:
df.drop(columns = ["Encargado", "Comentarios", "Cancelado", "Otra especie", "Otra Raza",  "Teléfono" , "Dirección"]  , inplace = True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha y hora         113 non-null    object
 1   Tipo                 113 non-null    object
 2   Estado y asistencia  113 non-null    object
 3   Nombre               112 non-null    object
 4   Especie              112 non-null    object
 5   Raza                 112 non-null    object
 6   Género               112 non-null    object
 7   E.Reproductivo       112 non-null    object
 8   Fecha nacimiento     112 non-null    object
 9   Edad                 112 non-null    object
 10  Nombre.1             112 non-null    object
 11  Identificación       112 non-null    float64
 12  Autor                113 non-null    object
 13  Fecha registro       113 non-null    object
 14  Fecha edición        113 non-null    object
dtypes: float64(1), object(14)
memory usage: 13.4+ KB

In [20]:
df.rename(columns = {"Nombre": "Paciente"} , inplace = True)

In [21]:
df.rename(columns = {"Nombre.1": "Cliente"} , inplace = True)

In [23]:
df["Fecha y hora"] = pd.to_datetime(df["Fecha y hora"])

In [24]:
df["Fecha nacimiento"] = pd.to_datetime(df["Fecha nacimiento"])

In [25]:
df["Fecha registro"] = pd.to_datetime(df["Fecha registro"])

In [26]:
df["Fecha edición"] = pd.to_datetime(df["Fecha edición"])

In [27]:
df.dtypes

Fecha y hora           datetime64[ns]
Tipo                           object
Estado y asistencia            object
Paciente                       object
Especie                        object
Raza                           object
Género                         object
E.Reproductivo                 object
Fecha nacimiento       datetime64[ns]
Edad                           object
Cliente                        object
Identificación                float64
Autor                          object
Fecha registro         datetime64[ns]
Fecha edición          datetime64[ns]
dtype: object

In [29]:
df.dropna(subset = "Identificación", inplace = True)

In [30]:
df["Identificación"] = df["Identificación"].astype(int)

In [31]:
df.dtypes

Fecha y hora           datetime64[ns]
Tipo                           object
Estado y asistencia            object
Paciente                       object
Especie                        object
Raza                           object
Género                         object
E.Reproductivo                 object
Fecha nacimiento       datetime64[ns]
Edad                           object
Cliente                        object
Identificación                  int64
Autor                          object
Fecha registro         datetime64[ns]
Fecha edición          datetime64[ns]
dtype: object

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 0 to 112
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha y hora         112 non-null    datetime64[ns]
 1   Tipo                 112 non-null    object
 2   Estado y asistencia  112 non-null    object
 3   Paciente             112 non-null    object
 4   Especie              112 non-null    object
 5   Raza                 112 non-null    object
 6   Género               112 non-null    object
 7   E.Reproductivo       112 non-null    object
 8   Fecha nacimiento     112 non-null    datetime64[ns]
 9   Edad                 112 non-null    object
 10  Cliente              112 non-null    object
 11  Identificación       112 non-null    int64
 12  Autor                112 non-null    object
 13  Fecha registro       112 non-null    datetime64[ns]
 14  Fecha edición        112 non-null    datetime64[ns]
dtypes: datetime64[ns](4), int64(1), object(10)
memory usage: 14.0+ KB

In [33]:
# df.to_excel("/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/04_Datasets_final/df_OKVET_Citas.xlsx", index = False)