In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/02_Datasets_pre_cleaning/TuFórmula_Inventario.xlsx"

In [3]:
df = pd.read_excel(url)

In [4]:
df.shape

(118, 4)

In [5]:
df.head() # ACCIONES: ninguna; No se tenía valor para "Supledog multivitamínico (tabletas)" en entrada pero si 40 en salidas; Se asumió misma cantidad de entrada e inventario 0.

,PRODUCTO,ENTRADAS,SALIDAS,UNIDADES EN INVENTARIO
0,Acar clean 400ml (spray),0,0,0
1,Advocate gatos 0 a 4 kg (pipeta),1,0,1
2,Advocate gatos 4 a 8 kg (pipeta),0,0,0
3,Advocate perros 4 a 10 kg (pipeta),1,0,1
4,Alernex 5mg (tableta),4,0,4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PRODUCTO                118 non-null    object
 1   ENTRADAS                118 non-null    int64
 2   SALIDAS                 118 non-null    int64
 3   UNIDADES EN INVENTARIO  118 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.8+ KB

In [7]:
df.isna().sum()

PRODUCTO                  0
ENTRADAS                  0
SALIDAS                   0
UNIDADES EN INVENTARIO    0
dtype: int64

In [8]:
df.nunique()

PRODUCTO                  118
ENTRADAS                   23
SALIDAS                     6
UNIDADES EN INVENTARIO     22
dtype: int64

In [9]:
# df.to_excel("/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/04_Datasets_final/df_TuFórmula_Inventario.xlsx", index = False)