In [2]:
import pandas as pd
import numpy as np

In [3]:
url = "/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/02_Datasets_pre_cleaning/TuFórmula_Ventas.xlsx"

In [4]:
df = pd.read_excel(url)

In [5]:
df.shape

(150, 12)

In [6]:
df.head() # ACCIONES: Columnas a eliminar: "Serial" (fact), "Fecha de Pago", "Conexión", "Comentario", "Cliente"?
# Transformar a float los precios 
# Cambiar nombre de columna MV a Autor (para conectar más adelante con otras BDD)

,PACIENTE,CLIENTE,PRODUCTO,FECHA DE VENTA,SERIAL,UNIDAD,PRECIO UNIDAD,PRECIO TOTAL,FECHA DE PAGO,CONEXIÓN,MV,COMENTARIO
0,Joaquin,NaN,Cardial B 5ml (comprimidos),2024-02-06,7,1,135000,135000,-,MED325011,Paula Bernal,NaN
1,Penelope,NaN,Ocubiotic colirio esteroides 5ml (gotero),2024-02-07,9,1,45000,45000,-,NaN,Paula Bernal,NaN
2,Penelope,NaN,Advocate gatos 0 a 4 kg (pipeta),2024-02-07,9,1,46000,46000,-,NaN,Paula Bernal,NaN
3,Penelope,NaN,Cosequin 60 felino (gominolas),2024-02-07,9,1,120000,120000,-,0000099600,Paula Bernal,NaN
4,Guardiana,Sandra Galvis,One (tabletas),2024-02-09,12,8,12000,96000,-,NaN,Paula Bernal,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PACIENTE        150 non-null    object
 1   CLIENTE         33 non-null     object
 2   PRODUCTO        150 non-null    object
 3   FECHA DE VENTA  150 non-null    datetime64[ns]
 4   SERIAL          150 non-null    int64
 5   UNIDAD          150 non-null    int64
 6   PRECIO UNIDAD   150 non-null    int64
 7   PRECIO TOTAL    150 non-null    int64
 8   FECHA DE PAGO   150 non-null    object
 9   CONEXIÓN        107 non-null    object
 10  MV              150 non-null    object
 11  COMENTARIO      17 non-null     object
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 14.2+ KB

In [8]:
df.isna().sum()

PACIENTE            0
CLIENTE           117
PRODUCTO            0
FECHA DE VENTA      0
SERIAL              0
UNIDAD              0
PRECIO UNIDAD       0
PRECIO TOTAL        0
FECHA DE PAGO       0
CONEXIÓN           43
MV                  0
COMENTARIO        133
dtype: int64

In [9]:
df.nunique()

PACIENTE          42
CLIENTE           11
PRODUCTO          99
FECHA DE VENTA    46
SERIAL            64
UNIDAD            20
PRECIO UNIDAD     68
PRECIO TOTAL      74
FECHA DE PAGO     31
CONEXIÓN          62
MV                 8
COMENTARIO         7
dtype: int64

In [10]:
df.drop(columns = ["CLIENTE", "SERIAL", "FECHA DE PAGO", "CONEXIÓN", "COMENTARIO"]  , inplace = True)

In [11]:
df.head()

,PACIENTE,PRODUCTO,FECHA DE VENTA,UNIDAD,PRECIO UNIDAD,PRECIO TOTAL,MV
0,Joaquin,Cardial B 5ml (comprimidos),2024-02-06,1,135000,135000,Paula Bernal
1,Penelope,Ocubiotic colirio esteroides 5ml (gotero),2024-02-07,1,45000,45000,Paula Bernal
2,Penelope,Advocate gatos 0 a 4 kg (pipeta),2024-02-07,1,46000,46000,Paula Bernal
3,Penelope,Cosequin 60 felino (gominolas),2024-02-07,1,120000,120000,Paula Bernal
4,Guardiana,One (tabletas),2024-02-09,8,12000,96000,Paula Bernal

In [12]:
df["PRECIO UNIDAD"] = df["PRECIO UNIDAD"].astype(float)

In [13]:
df["PRECIO TOTAL"] = df["PRECIO TOTAL"].astype(float)

In [14]:
df.dtypes

PACIENTE                  object
PRODUCTO                  object
FECHA DE VENTA    datetime64[ns]
UNIDAD                     int64
PRECIO UNIDAD            float64
PRECIO TOTAL             float64
MV                        object
dtype: object

In [15]:
df.rename( columns = {'MV': 'Autor'}, inplace=True)

In [16]:
df

,PACIENTE,PRODUCTO,FECHA DE VENTA,UNIDAD,PRECIO UNIDAD,PRECIO TOTAL,Autor
0,Joaquin,Cardial B 5ml (comprimidos),2024-02-06,1,135000.0,135000.0,Paula Bernal
1,Penelope,Ocubiotic colirio esteroides 5ml (gotero),2024-02-07,1,45000.0,45000.0,Paula Bernal
2,Penelope,Advocate gatos 0 a 4 kg (pipeta),2024-02-07,1,46000.0,46000.0,Paula Bernal
3,Penelope,Cosequin 60 felino (gominolas),2024-02-07,1,120000.0,120000.0,Paula Bernal
4,Guardiana,One (tabletas),2024-02-09,8,12000.0,96000.0,Paula Bernal
...,...,...,...,...,...,...,...
145,Thor,Previcox 227mg (comprimidos),2024-06-28,5,1300.0,6500.0,Isabella Quiroga
146,Thor,Amoxicilina + Ácido clavulanico (Nicilan) 200m...,2024-06-28,12,7800.0,93600.0,Isabella Quiroga
147,Thor,Ciclorac (ácido hipocloroso) 120ml (spray),2024-06-28,1,30000.0,30000.0,Isabella Quiroga
148,Sofía,Fortiflora canino (sobres),2024-06-30,5,5000.0,25000.0,Paula Bernal
149,Ron,Glicopan Pet 30ml (suspención),2024-07-03,1,40000.0,40000.0,Paula Bernal

In [24]:
# df.to_excel("/Users/karollvivianalopezvillegas/GitHub/OKVET_DA_Final_project/04_Datasets_final/df_TuFórmula_Ventas.xlsx", index = False)